
body{
	background-image:  linear-gradient(
	  rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),url(https://www.suraim.com.mx/Content/images/bn_slide2.jpg);	
	background-size: 100%;
}

form {
	margin-top:5%;
}

input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-color: #696969;
    background-color: #FFFFFF;
}

.l1 {
	color: #C0C0C0;
	width:145px;
	font-size:25;
}

.l2 {
	color: #C0C0C0;
	width:145px;
	font-size:25;
}

img.login {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-default {
    background-color: #FF7F50;
    font-size:25;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    transition: all 0.5s ease 0s;
    
    /*	Estas 4 lineas magicas te centran las cosas en la pantalla. 
    	Modificando top y left, se mueve. Tambien modificando el translate */
    
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active{
	background-color: #000000;
}

.container {
	padding-top:16px;
  	margin-left: 30%;
    margin-right: 30%;

}


