
form {
	margin-top:5%;
}

input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

.l1 {
	width:145px;
	font-size:25;
}

.l2 {
	font-size:25;
}

img.login {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #00BFFF;
    font-size:25;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 65%;
}

.container {
	padding-top:16px;
  	margin-left: 30%;
    margin-right: 30%;

}


