html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
a.navbar-brand {
	font-size:20;
	font-weight:bold;
	color: #C0C0C0;
}
.nav.navbar-nav li a{
	font-size:20;
    color: #C0C0C0;
}
.usr {
	padding-top:16px;
	font-size:35;
	font-weight:bold;	
    color: #C0C0C0;
    text-align:center;
    text-decoration: underline;
}
p.title {
	color:#C0C0C0;
	font-size:35;
	padding-bottom:12px;
}
.nav.navbar-nav li a.logout {
	text-align:right;
	font-size:20;
    color: #C0C0C0;
}
.indicatorsWindow{
	text-align:center;
	font-size:40;	
    color: #C0C0C0;
}
.container-fluid{
	background-color: #4D4D4D;
}
.text-center{
	color: #C0C0C0;
}
.magic-body{
	background-image:  linear-gradient(
	  rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),url(https://www.suraim.com.mx/Content/images/bn_slide2.jpg);	
	background-size: 100%;
}
.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #FF7F50;
	display: block;
	color: white;
    padding: 14px 20px;
    margin: 8px 5;
    border: none;
    cursor: pointer;
    width: 20%;
    transition: all 0.5s ease 0s;    
	font-size:25;
	text-align: center;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;	
}
.btn-file:hover,
.btn-file:focus,
.btn-file:active{
	background-color: #000000;
}
.crazy-btn{
	background-color: #FF7F50;
    transition: all 0.5s ease 0s;
}
.crazy-btn:hover,
.crazy-btn:focus,
.crazy-btn:active{
	background-color: #000000;
}
.crazy-text{
	color:#E6E6E6;
}
.crazy-title{
	color:#E6E6E6;
}
.card{
	width: 20rem;
	height: 100%;
	position: absolute;
}
.crazy-container{
	position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%,-50%);
}