th.li, td.li {
    text-align: center;
    vertical-align: middle;
}
th.ppal {
	background-color:#696969;
	font-size:25;
	color:#C0C0C0;
}
th {
	font-size:25;
	text-decoration:bold;
}
td {
	font-size:20;
	color:#6E6E6E;
}
td.period {
	font-size:25;
}
h1 {
	color:#696969;
}
h3 {
	font-size:30;
	text-decoration: underline;
}
.submit{
	font-size: 20;
	margin-top:5px;
	margin-bottom:5px;
}
.table-dark{
	background-color: #F3E2A9;	
	color:#C0C0C0;
	border: 1px solid white;
}
.inside-table{	
	color:#F3E2A9;
	border: 1px solid white;
}
li{
	color: #C0C0C0;
	font-size: 20;
}