{{#partial "contenido"}}
	<head>
		<link rel="stylesheet" href="/css/tables.css">
	</head>
	
	<table class="table table-dark" align="right">	
		<tr>
			<th class="ppal"><center>Nombre Empresa</center></th>
			<th class="ppal"><center>Indicadores</center></th>
			<th></th>
		</tr>
		
		{{#each}}
			<tr>
				<td class="li">{{name}}</td>
				<td>
					<table class="table inside-table" style="background-color:#C0C0C0;">
					<col width="200">
  					<col width="200">
						<tr>
							<th class="ppal">Indicador</th>
							<th class="ppal">Valor</th>
						</tr>
						
						{{#each indicators}}
							<tr class="warning">
								<td >{{name}}</td>
								<td >{{value}}</td>
							</tr>
						{{/each}}
					</table>
					
				</td>
			</tr>			
		{{/each}}	
	</table>
		
	</form>	
		<form>
		<input class="btn btn-warning" type="submit" style="float: left;" value="Volver" formaction="/indicators">
	</form>

{{/partial}}

{{>layout.hbs}}