{{#partial "contenido"}}
	<head>
		<link rel="stylesheet" href="/tables.css">
	</head>
	
	<table class="table table-stripped" align="right">	
		<tr>
			<th class="ppal"><center>Nombre Empresa</center></th>
			<th class="ppal"><center>Indicadores</center></th>
			<th></th>
		</tr>
		
		{{#each}}
			<tr>
				<td class="li">{{name}}</td>
				<td>
					<table class="table table-stripped">
					<col width="200">
  					<col width="200">
						<tr>
							<th class="li">Indicador</th>
							<th class="li">Valor</th>
						</tr>
						
						{{#each indicators}}
							<tr>
								<td class="li">{{name}}</td>
								<td class="li">{{value}}</td>
							</tr>
						{{/each}}
					</table>
					
				</td>
			</tr>			
		{{/each}}	
	</table>
		
	</form>	
	

{{/partial}}

{{>layout.hbs}}