{{#partial "contenido"}}

<link rel="stylesheet" href="/list.css">
	<title>Indicadores</title>
	<p class="title"><b>Indicadores</b></p>

	<table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>Fórmula</th>
		</tr>
		
		{{#each}}
			<tr>
				<td>{{name}}</td>
				<td>{{formula}}</td>
			</tr>
		{{/each}}
	</table>

{{/partial}}

{{>layout.hbs}}