{{#partial "contenido"}}

<form action="/indicators" method="get">

<link rel="stylesheet" href="/tables.css">
	<title>Indicadores</title>
	<p class="title"><b>Indicadores</b></p>
	
	<table class="table table-stripped">
		<tr>
			<th class="ppal">Nombre</th>
			<th class="ppal">Fórmula</th>
			<th class="ppal"></th>
		</tr>
		
		{{#each}}
			<tr>
				<td>{{name}}</td>
				<td>{{formula}}</td>		
				<td><input type="checkbox" name="selected" value={{name}}></td>	
			</tr>			
		{{/each}}	
	</table>
	
	
	<button type="submit" formaction="/indicators/evaluate">Analizar Empresas segun indicadores seleccionados</button>
	<label>En el año:</label>
	<input type="number" name="quantity" min="1900" max="2018" required><br>
	
	</form>	
	

{{/partial}}

{{>layout.hbs}}