{{#partial "contenido"}}	
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/js/postIndicator.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/css/indicators.css">
	
	<body style="text-align: center;">
		<title>Nuevo Indicador</title>
		<br><br>
		<p class="title" style="margin-right:3%;">Nuevo Indicador</p>	
		
		<div class="container crazy-container">
				
			<div class="row crazy-row">
				<div class="col-sm-2">		
					<label class="newIndicatorLbl" for="nombre">Nombre:</label>
				</div>
				<div class="col-sm-2">
					<input class="crazy-input" id="name" type="text" placeholder="Nombre del Indicador" name="name">
				</div>
			</div>
			
			<div class="row crazy-row">	
				<div class="col-sm-2">				
					<label class="newIndicatorLbl" for="costoEstimado">Fórmula:</label>
				</div>
				<div class="col-sm-2">
					<input class="crazy-input" id="formula" placeholder="Fórmula del Indicador" name="formula">
				</div>
			</div>			
			
			<br><br>
			
			<div class="row">
				<p class="newIndicatorLbl2">Referencias</p>
			</div>
			<div class="row">
				<p class="newIndicatorLbl3">Indicadores: @&lt;nombre del indicador&gt;</p>
			</div>
			<div class="row">
				<p class="newIndicatorLbl3">Cuentas: #&lt;nombre de la cuenta&gt;</p>		
			</div>
			
			<br>
			<form>
			<input class="btn btn-createIndicator" type="submit" value="Volver" formaction="/indicators">
			<input onclick="postIndicator()" class="btn btn-createIndicator" value="Guardar">
			</form>
		</div>
	</body>
{{/partial}}

{{>layout.hbs}}