html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
a.navbar-brand {
	font-size:20;
	font-weight:bold;
	color:black;
}
.nav.navbar-nav li a{
	font-size:20;
    color: black;
}
.nav.navbar-nav li.logout a{
	font-size:20;
	padding-left:70%;
    color: black;
}
.usr {
	padding-top:16px;
	font-size:35;
	font-weight:bold;
}
p.title {
	color:#00BFFF;
	font-size:35;
	text-decoration:underline;
	padding-bottom:12px;
}
.nav.navbar-nav li a.logout {
	text-align:right;
	font-size:20;
	padding-left:70%;
    color: black;
}
.indicatorsWindow{
	text-align:center;
	font-size:40;	
    color: black;
}



















