{{#partial "contenido"}}
	<title>Resultados</title>
<p class = "title">Resultados</p>
	
	
	
<p class="title">  Aprobados: </p>
	<td><ol>
				{{#each passes}}
				{{#with enterprise}}
					<li>{{name}}</li>
				{{/with}}
				{{/each}}
				</ol></td>
	
	<p class="title">  Desaprobados: </p>
	<td><ul>
				{{#each failures}}
				{{#with enterprise}}
					<li>{{name}}</li>
				{{/with}}
				{{/each}}
				</ul></td>
	
	

	<form>
		<input class="btn btn-warning" type="submit" style="float: left;" value="Volver" formaction="/methods">
	</form>
		
{{/partial}}

{{>layout.hbs}}