{{#partial "contenido"}}
	<title>Resultados</title>
	<h1><u>Resultados</u></h1>
	
	<table class="table table-striped">
	
		<tr>
			<th class="ppal">Aprobados</th>
			<th class="ppal">No Aprobados</th>
		</tr>
	
		<tr>
			<td>
				<ol>
				{{#each passes}}
				{{#with enterprise}}
					<li>{{name}}</li>
				{{/with}}
				{{/each}}
				</ol>
			</td>
			
			<td>
				<ul>
				{{#each failures}}
				{{#with enterprise}}
					<li>{{name}}</li>
				{{/with}}
				{{/each}}
				</ul>
			</td>
		</tr>
</table>
	
	<h3>Errores</h3>
	<table class="table table-striped">
		<tr>
			<th class="ppal">Empresa</th>
			<th class="ppal">Error</th>
		</tr>
		
		{{#each errors}}
			<tr>
				{{#with enterprise}}
					<td>{{name}}</td>
				{{/with}}
				<td>{{errorMessage}}</td>
			</tr>
		{{/each}}
	</table>
		
{{/partial}}

{{>layout.hbs}}