{{#partial "contenido"}}	
	<title>Metodologías</title>
	<p class="title">Metodologías</p>

	{{#if}}
		<table class="table table-striped">
			<tr>
				<th class="ppal">Nombre</th>
				<th class="ppal"></th>
				<th class="ppal"></th>
			</tr>
			
			{{#each}}
				<tr>
					<td>{{name}}</td>
					<td><a href="{{url}}">Ver</a></td>
					<td><a class= "clickable" onclick="erase({{id}})">Borrar</a></td>
				</tr>
			{{/each}}
		</table>
	{{else}}
		<div class="alert alert-danger" role="alert">
  			No hay metodologias para mostrar
		</div>
	{{/if}}
	
{{/partial}}

{{>layout.hbs}}