{{#partial "contenido"}}

<link rel="stylesheet" href="/tables.css">
	<title>Metodologías</title>
	<p class="title"><b>Metodologías</b></p>

	<table class="table table-striped">
		<tr>
			<th class="ppal">Nombre</th>
			<th class="ppal"></th>
		</tr>
		
		{{#each}}
			<tr>
				<td>{{name}}</td>
				<td><a href="{{url}}">Ver</a></td>
			</tr>
		{{/each}}
	</table>

{{/partial}}

{{>layout.hbs}}