<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>		
		<script src="/js/erase.js" type="text/javascript"></script>
		<script src="https://use.fontawesome.com/c263c993fd.js"></script>
		
		<link rel="stylesheet" href="/css/main.css">
	  	<link rel="stylesheet" href="/css/tables.css">
		<link rel="stylesheet" href="/css/clickable.css">
	</head>
	
	<body class="magic-body">	
		<nav class="navbar navbar-light" style="background-color: #696969;">
			<div class="container">
				<div class="navbar-header">
		        	<a class="navbar-brand"href="/home">TP-DDS-2017-GRUPO-5</a>
		      	</div>
		      	<div>
		        	<ul class="nav navbar-nav">
		          		<li><a href="/enterprises">Empresas</a></li>
		          		<li><a href="/indicators">Indicadores</a></li>
		          		<li><a href="/methods">Metodologías</a></li>
		        	</ul>
		        	<ul class="nav navbar-nav navbar-right">
		          		<li><a class="logout" href="/logout">Cerrar Sesión</a></li>
		        	<ul>
		      	</div>
		 		
			</div>
		</nav>
		
		<div class="container">
			{{#block "contenido"}}
			{{/block}}
		</div>
	
		<footer class="footer">
			<div class="container-fluid">
		    <p class="text-center">
		      &copy; 2017 TP-DDS-2017-GRUPO-5
		    </p>
		</div>
		</footer>		
	</body>
</html>