<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/main.css">
</head>
<body>

<nav class="navbar navbar-light" style="background-color: #00BFFF;">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand"href="/">TP-DDS-2017-GRUPO-5</a>
      </div>
      <div>
        <ul class="nav navbar-nav" style="color:white;">
          <li><a href="/enterprises">Empresas</a></li>
          <li><a href="/indicators">Indicadores</a></li>
          <li><a href="/methods">Metodologías</a></li>
          <li><a class="logout" href="/logout">Cerrar Sesión</a></li>
        </ul>
      </div>
 		
    </div>
  </nav>

<div class="container">
	{{#block "contenido"}}
	{{/block}}
</div>

<footer class="footer">
    <p class="text-center">
      &copy; 2017 TP-DDS-2017-GRUPO-5
    </p>
</footer>
</body>
</html>