{{#partial "contenido"}}

<title>Surprise Motherfucker!</title>

<div>
	<p class="usr"">No hay salida!</p>	
</div>

<div class="container crazy-container surpriseContainer">
	<div class="row">
		<img src="http://i0.kym-cdn.com/photos/images/facebook/000/296/441/24a.jpg"></img>
	</div>
	<div class="row">
		<audio controls autoplay>
		  <source src="https://www.myinstants.com/media/sounds/surprise-motherfucker.mp3" type="audio/mpeg" preload="auto">
		</audio> 
	</div>
</div>	

{{/partial}}

{{>layout-noexit.hbs}}