{{#partial "contenido"}}

<title>Panel de administrador</title>

<div>
	<p class="title">Panel de administrador</p>
</div>

<h2 style="color: #C0C0C0;">Cargar batch de cuentas</h2>
<form action="/batch" enctype="multipart/form-data" method="post">
	<span class="btn btn-default btn-file">
        <i class="glyphicon glyphicon-file"></i> Examinar <input type="file" name="file" id="finput" accept=".json, .txt">
    </span>
    <p style="color: #C0C0C0;" name="label1">Seleccione un archivo</p>
</form>


<script>    
$(document).on('change', ':file', function() {
	var input = document.getElementById('finput');
	var label = document.getElementsByName('label1')[0];
	
	if(input.value != "") {
		var fileExtension = input.value.split('.')[1];
			
		if((fileExtension.toUpperCase() != "JSON") && (fileExtension.toUpperCase() != "TXT")) {
			label.innerHTML = 'Se selecciono un archivo con extension incorrecta.<br>Solo se permiten archivos .json y .txt'; 
		}
		else {
			label.innerHTML = 'Archivo seleccionado correctamente!';
			input.form.submit();
		}
	}
});
</script>

{{/partial}}

{{>layout-admin.hbs}}