{{#partial "contenido"}}

<title>Home</title>

<div>
	<p class="usr">¡Bienvenido {{email}}! </p>
</div>

<div class="container crazy-container">
	<div class="row">
		<div class="col-md-4">
	    	<h4 class="crazy-title">Empresas</h4>
	    	<p class="crazy-text">Si quiere ver, agregar, modificar o eliminar empresas, haga click en el siguiente boton.</p>
	    	<a href="/enterprises" class="btn btn-primary crazy-btn">Ver Empresas</a>
	    </div>
	    
	    <div class="col-md-4">
	    	<h4 class="crazy-title">Indicadores</h4>
	    	<p class="crazy-text">Si quiere ver, agregar, modificar o eliminar indicadores, haga click en el siguiente boton.</p>
	    	<a href="/indicators" class="btn btn-primary crazy-btn">Ver Indicadores</a>
	    </div>
	    
	    <div class="col-md-4">
	    	<h4 class="crazy-title">Metodologias</h4>
	    	<p class="crazy-text">Si quiere ver, agregar, modificar o eliminar metodologias, haga click en el siguiente boton.</p>
	    	<a href="/methods" class="btn btn-primary crazy-btn">Ver indicadores</a>
	    </div>
	</div>
</div>

{{/partial}}

{{>layout.hbs}}